<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jone.pro.mapper.GarbageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jone.pro.entity.Garbage">
        <id column="id" property="id"/>
        <result column="deleted" property="deleted"/>
        <result column="garbage_name" property="garbageName"/>
        <result column="type_id" property="typeId"/>
    </resultMap>

    <sql id="base_value_batch_item">
        #{item.id},
        #{item.garbageName},
        #{item.typeId},
        #{item.deleted}
    </sql>
    <insert id="batchInsert" useGeneratedKeys="true">
        insert into garbage (id,deleted,garbage_name,type_id)
        values
        <foreach collection="garbageList" item="item" separator=",">
            (<include refid="base_value_batch_item"/>)
        </foreach>
        ON DUPLICATE KEY UPDATE
        garbage_name = values(garbage_name),type_id = values(type_id)
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from garbage
    </select>

    <select id="selectListByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        *
        from garbage
        <where>
            <if test="keyWord != null and keyWord!= ''">
                AND garbage_name like CONCAT_WS('','%',#{keyWord},'%')
            </if>

            <if test="typeId != null and typeId!= ''">
                AND type_id = #{typeId}
            </if>
            and deleted =0
        </where>
        <if test="typeId != null and typeId!= ''">
            limit 88
        </if>
    </select>

</mapper>
